name: Publish to NPM

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # Setup Node.js
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
      
      # Install and Build
      - run: npm ci
      - run: npm run build
      
      # Publish to NPM
      # Only runs if the release (tag) version matches package.json
      # Env variable NPM_TOKEN must be set in GitHub Repo Secrets
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
